{% extends 'Default/home.html.twig' %}
{% block title %}Login Page{% endblock %}

{% block body %}

    <div class="form-wrapper form-wrapper_login">
        <form method="post" class="form">
            {% if error %}
                <div class="alert alert-danger" style="color: red">! Incorrect username or password</div>
{#                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You signed in as {{ app.user.username }}
                </div>
                <br>
                <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Sign in</h1>
                <label for="inputUsername">
                    Username
                    <input type="text" value="{{ app.user.username }}" name="username" id="inputUsername" class="form__input form-control" required autofocus>
                </label>
                <label for="inputPassword">
                    Password
                    <input type="password" value="•••••••••" name="password" id="inputPassword" class="form__input form-control" required>
                </label>

                <a href="{{ path('app_logout') }}" class="btn" style="text-align: center">Logout</a>
            {% else %}
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Sign in</h1>
            <label for="inputUsername">
                Username
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form__input form-control" required autofocus>
            </label>
            <label for="inputPassword">
                Password
                <input type="password" name="password" id="inputPassword" class="form__input form-control" required>
            </label>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

{#                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#                See https://symfony.com/doc/current/security/remember_me.html#}

{#                <div class="checkbox mb-3">#}
{#                    <label>#}
{#                        <input type="checkbox" name="_remember_me"> Remember me#}
{#                    </label>#}
{#                </div>#}

            <p class="form__reset-link"><a href="#">Forgot password?</a></p>
            <button class="btn" type="submit">
                Sign in
            </button>
            {% endif %}
        </form>
    </div>
{% endblock %}
