<aside class="sidebar side-nav">
    <a href="{{ path('index') }}" class="side-nav__link">Home</a>
    <a href="#" class="side-nav__link">Add group</a>
    <a href="#" class="side-nav__link">Groups page</a>
    <a href="#" class="side-nav__link">Communities</a>
    <a href="{{ path('index') }}" class="side-nav__link">Questions</a>
    <a href="{{ path('newQuestions') }}" class="side-nav__link side-nav__link_grey">New Questions</a>
    <a href="{{ path('answeredQuestions') }}" class="side-nav__link side-nav__link_grey">Answered Questions</a>
    <a href="{{ path('notAnsweredQuestions') }}" class="side-nav__link side-nav__link_grey">Unanswered Questions</a>
    <a href="#" class="side-nav__link side-nav__link_grey">Trending Questions</a>
    <a href="#" class="side-nav__link side-nav__link_grey">Must read Questions</a>
    <a href="#" class="side-nav__link side-nav__link_grey">Hot Questions</a>
    <a href="#" class="side-nav__link">Polls</a>
    <a href="{{ path('showTagsList') }}" class="side-nav__link">Tags</a>
    <a href="#" class="side-nav__link">Badges</a>
    <a href="#" class="side-nav__link">Users</a>
    <a href="{{ path('lawyersAlph') }}" class="side-nav__link side-nav__link_grey">Lawyers</a>
    <a href="#" class="side-nav__link side-nav__link_grey">Not lawyers</a>
    <a href="#" class="side-nav__link">Help</a>
    <a href="#" class="side-nav__link">Buy Theme</a>
</aside>