<aside class="sidebar main-stat">
    <div class="ask-btn-block">
        <a href="{{ path('add_question') }}" class="btn" style="text-align:center">Ask a question</a>
    </div>
    <div class="answer-stats-block">
        <div class="answer-stats">
            <p class="answer-stats__stat answer-stats__stat_border_left">
                <span class="answer-stats__title answer-stats__title_blue">Questions</span>
                <span class="answer-stats__value">21</span>
            </p>
            <p class="answer-stats__stat answer-stats__stat_border_right">
                <span class="answer-stats__title answer-stats__title_red">Questions</span>
                <span class="answer-stats__value">21</span>
            </p>
            <p class="answer-stats__stat answer-stats__stat_border_left">
                <span class="answer-stats__title answer-stats__title_green">Questions</span>
                <span class="answer-stats__value">21</span>
            </p>
            <p class="answer-stats__stat answer-stats__stat_border_right">
                <span class="answer-stats__title answer-stats__title_blue">Questions</span>
                <span class="answer-stats__value">21</span>
            </p>
        </div>
    </div>
    <div class="popular-answers">
        <div class="popular-answers__tab">
            <button class="popular-answers__btn popular-answers__btn_active">Popular</button>
            <button class="popular-answers__btn">Answers</button>
        </div>
        <div class="popular-answers__content">
            <div class="popular-item-answer">
                <div class="popular-item-answer__avatar">
                    <img src="{{ asset('img/avatar.jpg') }}" alt="avatar">
                </div>
                <div class="popular-item-answer__content">
                    <p class="popular-item-answer__question">
                        <a href="#">
                            What is a programmer’s life like?
                        </a>
                    </p>
                    <p class="popular-item-answer__answers">
                        <a href="#">5 answers</a>
                    </p>
                </div>
            </div>
            <div class="popular-item-answer">
                <div class="popular-item-answer__avatar">
                    <img src="{{ asset('img/avatar.jpg') }}" alt="avatar">
                </div>
                <div class="popular-item-answer__content">
                    <p class="popular-item-answer__question">
                        <a href="#">
                            What is a programmer’s life like?
                        </a>
                    </p>
                    <p class="popular-item-answer__answers">
                        <a href="#">5 answers</a>
                    </p>
                </div>
                <div class="popular-answer-item">

                </div>
            </div>
        </div>

        <div class="top-members-block">
            <h3 class="h3">Top Members</h3>
            <div class="top-members">
                {% for l in lawyers %}
                    <div class="member">
                        <div class="member__avatar">
                            <a href="#">
                                <img src="{{ asset('img/avatar.jpg') }}" class="avatar-border" alt="avatar">
                            </a>
                        </div>
                        <div class="member__info">
                            <p class="member__name">
                                <a class="member__link" href="#">{{ l.getUsername }}</a>
                            </p>
                            <div class="member__stats">
                                <p class="member__stat"><a class="member__link_grey" href="#">{{ l.getQuestions|length }} questions</a>
                                </p>
                                <p class="member__stat"><a class="member__link_grey" href="#">{{ l.getLawRating }} points</a></p>
                            </div>
                            <p class="member__status">Enlighted</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tranding-tags-block">
            <h3 class="h3">Trending Tags</h3>
            <div class="tranding-tags">
                {% for tag in tags %}
                    <a href="#" class="tranding-tags__tag">{{ tag.getName }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</aside>