{% extends 'Layouts/lawyers/lawyers.html.twig' %}

{% block lawyersList %}
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr>
{#            <th scope="col">Name</th>#}
{#            <th scope="col">Surname</th>#}
            <th scope="col">Username</th>
            <th scope="col">Reg. date</th>
        </tr>
        </thead>
        <tbody>
        {% for lawyer in lawyers %}
            <tr>
{#                <td>{{ lawyer.getFirstname }}</td>#}
{#                <td>{{ lawyer.getLastname }}</td>#}
                <td>{{ lawyer.getUsername }}</td>
                <td>{{ lawyer.getCreatedAt | date('F j, Y') }}</td>
{#                <td>{{ lawyer.getCreatedAt | date('F j, Y, g:i a') }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}