{% extends 'Default/home.html.twig' %}

{% block question_content %}
    {% for qst in questions %}
        {% if qst.getAnswers|length == 0 %}
            <div class="questions-list">
                <div class="question-block">
                    <div class="question-block__top">
                        <div class="question-block__avatar">
                            <img src="{{ asset('img/avatar.jpg') }}" class="avatar-border" alt="avatar">
                        </div>
                        <div class="question-block__header">
                            <div class="user-info">
                                <a href="#" class="user-info__author-name">{{ qst.getUser }}</a>
                                <span class="user-info__author-badge">
                                    {% if qst.getUser.getIsLawyer == true %}
                                        Lawyer
                                    {% else %}
                                        Citizen
                                    {% endif %}
                                </span>
                                <p class="qustion-meta-data">
                                <span class="qustion-meta-data__meta-date">
                                    Asked:
                                    <a href="#">{{ qst.getCreatedAt | date('F j, Y, g:i a')}}</a>
                                </span>
                                </p>
                            </div>
                            <p class="question-block__question-title">
                                <a href="{{ path('showQA', {id: qst.getId}) }}">{{ qst.getTitleQuestion}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="question-block__bottom">
                        <div class="question-block__rating">
                            <a href="{{ path('ratingUpdate', {'id': qst.getId, 'like': 1}) }}">
                                <p class="vote-up"
                                        {% for qstLikes in qst.questionLikes %}
                                    {% if qstLikes.isUpvote == true %}
                                        {% for qstLikeUser in qstLikes.user %}
                                            {% if qstLikeUser.id == userId%}
                                                style="color: #007bff"
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                        {% endfor %}>
                                </p>
                            </a>
                            <p class="vote-result">{{ qst.getRating }}</p>
                            <a href="{{ path('ratingUpdate', {'id': qst.getId, 'like': 0}) }}">
                                <p class="vote-bottom"
                                        {% for qstLikes in qst.questionLikes %}
                                    {% if qstLikes.isUpvote == false %}
                                        {% for qstLikeUser in qstLikes.user %}
                                            {% if qstLikeUser.id == userId%}
                                                style="color: #007bff"
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                        {% endfor %}>
                                </p>
                            </a>
                        </div>
                        <div class="question-block__content">
                            <p class="question-block__question-body">
                                {{ qst.getBodyQuestion | length > 200 ? qst.getBodyQuestion|striptags|slice(0, 200) ~ '...' : qst.getBodyQuestion|striptags|nl2br  }}
                            </p><br>
                            <div class="tranding-tags">
                                {% for tag in qst.getTags %}
                                    <form method="POST" style="display: inline-block" action="{{path('searchByTag')}}">
                                        <input type="hidden" class="search-block__input" placeholder="Type Search Words" name="tag" value="{{ tag.getName }}">
                                        <button class="tranding-tags__tag">{{ tag.getName }}</button>
                                    </form>
                                {% endfor %}
                            </div>
                            <p class="question-block__footer">
                            <span class="question-block__best-answers">
                                {% if qst.getAnswers|length < 2 %}
                                    {{ qst.getAnswers|length }} Answer
                                {% else %}
                                    {{ qst.getAnswers|length }} Answers
                                {% endif %}
                            </span>
                                <span class="question-block__views">
                                {% if qst.getViews|length < 2 %}
                                    {{ qst.getViews }} View
                                {% else %}
                                    {{ qst.getViews }} Views
                                {% endif %}
                            </span>
                                <a href="{{ path('answer_question', {'id': qst.getId}) }}" class="btn">Answer</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}