{% extends 'Default/home.html.twig' %}

{% block questions %}
    {% for qst in questions %}
        {% if qst.getAnswers|length > 0 %}
            <div class="questions-list">
                <div class="question-block">
                    <div class="question-block__top">
                        <div class="question-block__avatar">
                            <img src="{{ asset('img/avatar.jpg') }}" class="avatar-border" alt="avatar">
                        </div>
                        <div class="question-block__header">
                            <div class="user-info">
                                <a href="#" class="user-info__author-name">{{ qst.getUser }}</a>
                                <span class="user-info__author-badge">Explainer</span>
                                <p class="qustion-meta-data">
                                                    <span class="qustion-meta-data__meta-date">
                                                        Asked:
                                                        <a href="#">{{ qst.getCreatedAt | date('F j, Y, g:i a')}}</a>
                                                    </span>
                                    <span class="qustion-meta-data__byline">
                                                        In:
                                                        <a href="#">Language</a>
                                                    </span>
                                </p>
                            </div>

                            <p class="question-block__question">
                                <a href="{{ path('showQA', {id: qst.getId}) }}">{{ qst.getTitleQuestion}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="question-block__bottom">
                        <div class="question-block__rating">
                            <p class="vote-up"></p>
                            <p class="vote-result">62</p>
                            <p class="vote-bottom"></p>
                        </div>
                        <div class="question-block__content">
                            <p class="question-block__answer">
                                {{ qst.getBodyQuestion | striptags }}
                            </p><br>
                            <div class="tranding-tags">
                                {% for tag in qst.getTags %}
                                    <a href="#" class="tranding-tags__tag">{{ tag.getName }}</a>
                                {% endfor %}
                            </div>
                            <p class="question-block__footer">
                                                <span class="question-block__best-answers">
                                                    <a href="#">
                                                        {% if qst.getAnswers|length < 2 %}
                                                            {{ qst.getAnswers|length }} Answer
                                                        {% else %}
                                                            {{ qst.getAnswers|length }} Answers
                                                        {% endif %}</a>
                                                </span>
                                <span class="question-block__views">
                                    {% if qst.getViews|length < 2 %}
                                        {{ qst.getViews }} View
                                    {% else %}
                                        {{ qst.getViews }} Views
                                    {% endif %}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}