{% extends 'Layouts/homepage.html.twig' %}
{% block page_title %} Ask Question {% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.title_question) }}
    {{ form_row(form.body_question) }}
{#    {{ form_row(form.tags) }}#}
    <h3>Tags</h3>
    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}"></ul>
    <button type="button" class="add_item_link" data-collection-holder-class="tags">Add a tag</button>

    {{ form_row(form.submit) }}

    {{ form_end(form) }}

{% endblock %}